.container-fluid {
    padding: 15px;
    .card-deck {
        justify-content: flex-start;
        app-dashboard-live-card {
            width: 32.5vw;
            padding: 15px;
            padding-top: 0;
        }
    }
}