.container-fluid {
    padding: 0 15px 15px 15px;
    .card-deck {
        justify-content: flex-start;
        app-dashboard-card {
            padding-bottom: 15px;
        }
    }
}

// medium to extra large devices
@media (min-width: 768px) {
    app-dashboard-card {
        max-width: 25vw;
        min-width: 25vw;
    }
}

// extra small to small devices
@media (min-width: 575px) and (max-width: 767px) {
    app-dashboard-card {
        padding: 0 !important;
    }
}