<div class="row menu-content">
	<div class="col-sm-6" (click)="openDiscoverView()">
		<h3 class="left"><span class="fa fa-globe"></span>MAP</h3>
	</div>
	<div class="col-sm-6">
		<h3 class="right"><span class="fa fa-heart"></span>MENU ITEM 2</h3>
	</div>
</div>
<div class="row menu-content below">
	<div class="col-sm-6">
		<h3 class="left"><span class="fa fa-list-ul"></span>MENU ITEM 3</h3>
	</div>
	<div class="col-sm-6">
		<h3 class="right"><span class="fa fa-star"></span>MENU ITEM 4</h3>
	</div>
</div>
