.card {
    width: 32vw;
    // height: 37.5vh;
    .card-header {
        padding: 5px;
        text-align: center;
    }
    .card-block {
        padding: 5px;
        padding-bottom: 0;
    }
    .card-footer {
        padding: 5px;;
        display: inline-flex;
        justify-content: space-between;
        .card-title {
            margin: auto;
        }
        .card-text {
            margin: auto;
        }
    }
}
